@model IEnumerable<FicheSuiviViewModel>

@{
	ViewData["Title"] = "Details";
}

<h1>les fiches de suivis:</h1>


<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Date)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Temp_M)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Temp_S)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Toux_M)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Toux_S)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Dyspnee_M)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Dyspnee_S)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MalDeGorge_M)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.MalDeGorge_S)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Cephalee_M)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Cephalee_S)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Myalgie_M)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Myalgie_S)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Autres_M)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Autres_S)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Conclusion_M)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Conclusion_S)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Date)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Temp_M)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Temp_S)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Toux_M)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Toux_S)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Dyspnee_M)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Dyspnee_S)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MalDeGorge_M)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MalDeGorge_S)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Cephalee_M)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Cephalee_S)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Myalgie_M)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Myalgie_S)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Autres_M)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Autres_S)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Conclusion_M)
			</td>
			<td>
				<a asp-controller="FicheSuivi" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
				<a asp-controller="FicheSuivi" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
			</td>
		</tr>
		}
	</tbody>
</table>
<div>
	<a asp-action="Index">Back</a>
</div>

